*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;;
}

html,body{
    height: 100%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #6656F7 ;
}

.sidebar-pos{
    position:absolute;
    top: 50%;
    transform:translateY(-50%) ;

}

.img-sidebar{
    text-align: center;
}

.img-sidebar img{
    width: 150px;
    border-radius: 50%;
    border: 8px solid #5645ee;

    
}
#perfil-img{
    width: 365px;
    height: 350px;
}

.menu{
    margin: 20px;
    text-align: center;
    position: relative;
}

.menu a {
    color: white;
    opacity: 0.4;
    font-size: 19px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.menu a.selected {
    opacity: 1;
}

.content{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    overflow-y:auto;
    padding: 0 3%;
}

section.descricao{
    position: relative;
    top:50%;
    transform: translateY(-50%);

}

section.descricao h2{
    color:gray ;
    font-size: 46px;

}

section.descricao h2 > span,
section.descricao h3 > span{
    color: #6656F7;
}

section.descricao h3{
    margin: 35px 0;
    color: gray;
    font-size: 26px;
}

section.descricao{
    color: gray;
    font-size: 22px;
    margin-top: 40px;

}

.icons-social{
    margin-top: 20px;
}

.icons-social a {
    text-decoration: none;
    background-color: gray;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    
}

.icons-social i{
    line-height: 40px;
}






